<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bonus_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,235},{65,60}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,257},{78,78}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,89},{81,78}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,265},{83,78}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{83,79}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,89},{84,78}}</string>
				<key>offset</key>
				<string>{-5,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,177},{84,78}}</string>
				<key>offset</key>
				<string>{-5,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,352},{84,77}}</string>
				<key>offset</key>
				<string>{-5,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,352},{84,77}}</string>
				<key>offset</key>
				<string>{-5,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,2},{84,75}}</string>
				<key>offset</key>
				<string>{-5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,339},{82,74}}</string>
				<key>offset</key>
				<string>{-5,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,401},{65,61}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,425},{82,73}}</string>
				<key>offset</key>
				<string>{-5,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,81},{81,72}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,2},{81,71}}</string>
				<key>offset</key>
				<string>{-5,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,440},{81,69}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,440},{79,67}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,2},{79,66}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,246},{76,66}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,157},{74,64}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,72},{69,63}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,401},{65,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,2},{66,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,316},{65,61}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,157},{70,68}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,324},{72,73}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,246},{74,74}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,77},{75,76}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,166},{76,76}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>bonus_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,174},{79,78}}</string>
				<key>offset</key>
				<string>{-4,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dragon.png</string>
			<key>realTextureFileName</key>
			<string>dragon.png</string>
			<key>size</key>
			<string>{407,511}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>407</integer>
			<key>height</key>
			<integer>511</integer>
		</dict>
	</dict>
</plist>